<header class="navbar navbar-dark bg-dark shadow-sm py-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fas fa-brain me-2"></i>Personal Knowledge Hub</a>
        <div>
            <button class="btn btn-sm btn-outline-light me-2">Login</button>
            <button class="btn btn-sm btn-success">Register</button>
        </div>
    </div>
</header>