@* In KnowledgeHub.Shared/Layout/MainLayout.razor *@
@inherits LayoutComponentBase
@using KnowledgeHub.Shared.Components
@using KnowledgeHub.Shared.Services
@using KnowledgeHub.Shared.Layout

<div class="d-flex flex-column vh-100">
    <TopToolBar />

    <Header />

    <div class="flex-grow-1 d-flex overflow-hidden">
        <Sidebar @rendermode="RenderMode.InteractiveServer" />

        <main class="flex-grow-1 p-4 overflow-auto">
            <ViewManager>
                @Body
            </ViewManager>
        </main>
    </div>
</div>

@code {
    [Inject]
    private IStateService StateService { get; set; } = default!;

    protected override void OnInitialized()
    {
        // The OnChange subscription is now handled by ViewManager
    }

    public void Dispose()
    {
        // The OnChange subscription is now handled by ViewManager
    }
}