@inherits LayoutComponentBase

<div class="h-screen flex flex-col bg-gray-100">

    <TopToolBar />

    <Header />

    <div class="flex-grow flex overflow-hidden">

        <Sidebar />

        <main class="flex-grow p-6 bg-white overflow-y-auto">
            @Body
        </main>

    </div>
</div>