<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom p-0" style="height: 30px;">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link" href="#">File</a>
            <a class="nav-link" href="#">Edit</a>
            <a class="nav-link" href="#">View</a>
        </div>
    </div>
</nav>

@code {
    private void HandleMenuClick(string action)
    {
        // In later steps, this will trigger actual functionality.
        Console.WriteLine($"Menu action: {action}");
    }
}